In [12]:
# Dependencies
import numpy as np
import pandas as pd

%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

import datetime as dt

In [13]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [14]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [15]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

june_temps = dt.date(2017, 6, 30)

# Calculate the mopnth of June in data set.
june_temps = dt.date(2017, 6, 30) - dt.timedelta(days=30)

In [16]:
#  3. Convert the June temperatures to a list.

# Perform a query to retrieve the data and precipitation scores
results = []

# Save the query results as a Pandas DataFrame and set the index
results = session.query(Measurement.tobs).filter(Measurement.date >= june_temps).all()

In [17]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 

df = pd.DataFrame(results, columns=['June Temps'])
df.set_index(df['June Temps'], inplace=True)

df = df.sort_index()

In [18]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.

df[['June Temps']].describe()

       June Temps
count  481.000000
mean    78.041580
std      2.898695
min     69.000000
25%     76.000000
50%     78.000000
75%     80.000000
max     87.000000

## D2: Determine the Summary Statistics for December

In [34]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = dt.date(2017, 12, 31)

# Calculate the mopnth of June in data set.
dec_temps = dt.date(2017, 12, 31) - dt.timedelta(days=31)

In [35]:
# 7. Convert the December temperatures to a list.

# Perform a query to retrieve the data and precipitation scores
results2 = []

# Save the query results as a Pandas DataFrame and set the index
results2 = session.query(Measurement.tobs).filter(Measurement.date >= dec_temps).all()

In [36]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 

df2 = pd.DataFrame(results, columns=['December Temps'])
df2.set_index(df['December Temps'], inplace=True)

df2 = df2.sort_index()

In [37]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df2[['December Temps']].describe()

       December Temps
count               0
unique              0
top               NaN
freq              NaN

In [39]:
df2

Empty DataFrame
Columns: [December Temps]
Index: []