In [1]:
# Dependencies
import numpy as np
import pandas as pd


# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

import datetime as dt

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [5]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

#june_temps = dt.date(2017, 6, 30)
june_temps = session.query(Measurement).filter(extract("month", Measurement.date)== 6)

# Calculate the mopnth of June in data set.
#june_temps = dt.date(2017, 6, 30) - dt.timedelta(days=30)
june_temps_list =[temp.tobs for temp in june_temps]

In [ ]:
#  3. Convert the June temperatures to a list.

# Perform a query to retrieve the data and precipitation scores
results = []

# Save the query results as a Pandas DataFrame and set the index
results = session.query(Measurement.tobs).filter(Measurement.date >= june_temps).all()

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 

#df = pd.DataFrame(results, columns=['June Temps'])
df = pd.DataFrame(june_temps_list,columns=["June Temps"])
#df.set_index(df['June Temps'], inplace=True)

df.head()

   June Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.

#df[['June Temps']].describe()
df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [26]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
#dec_temps = dt.date(2017, 12, 31)
dec_temps = session.query(Measurement).filter(extract("month", Measurement.date)== 12)

# Calculate the mopnth of June in data set.
#dec_temps = dt.date(2017, 12, 31) - dt.timedelta(days=31)
dec_temps_list =[temp.tobs for temp in dec_temps]

In [32]:
# 7. Convert the December temperatures to a list.

# Perform a query to retrieve the data and precipitation scores
results = []

# Save the query results as a Pandas DataFrame and set the index
#results2 = session.query(Measurement.tobs).filter(Measurement.date >= dec_temps).all()
results = session.query(Measurement.tobs).filter(Measurement.date >= dec_temps).all()

C:\Users\Scott\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.

OperationalError: (sqlite3.OperationalError) row value misused
[SQL: SELECT measurement.tobs AS measurement_tobs
FROM measurement
WHERE measurement.date >= (SELECT measurement.id, measurement.station, measurement.date, measurement.prcp, measurement.tobs
FROM measurement
WHERE CAST(STRFTIME('%m', measurement.date) AS INTEGER) = ?)]
[parameters: (12,)]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [33]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 

#df2 = pd.DataFrame(results, columns=['December Temps'])
#df2.set_index(df['December Temps'], inplace=True)
df = pd.DataFrame(dec_temps_list,columns=["December Temps"])

#df2 = df2.sort_index()
df.head()

   December Temps
0            76.0
1            74.0
2            74.0
3            64.0
4            64.0

In [34]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
#df2[['December Temps']].describe()
df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000